{% extends "main.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset" %}{% endblock title %}

{% block body %}
    <div class="card">
        <div class="card-header">{% trans "Password Reset" %}</div>
        <div class="card-body">
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">{% csrf_token %}
                    <label class="form-label" for="id_email">E-mail:</label>
                    <input class="form-control m-1" style="width: 325px" type="email" name="email" placeholder="E-mail адрес" autocomplete="email" required="" id="id_email">
                    <input class="btn btn-outline-danger m-1" type="submit" value="{% trans 'Reset My Password' %}" />
                </form>
                <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
        </div>
    </div>
{% endblock body %}
