{% extends "main.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Change Password" %}{% endblock title %}

{% block body %}
    <div class="card">
        <div class="card-header">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</div>
        <div class="card-body">
                {% if token_fail %}
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                {% else %}
                    <form method="POST" action="{{ action_url }}">
                        {% csrf_token %}
                        <label class="form-label" for="id_password1">Новый пароль:</label>
                        <input class="form-control m-1" style="width: 325px" type="password" name="password1" placeholder="Новый пароль" autocomplete="new-password" required="" id="id_password1">
                        <label class="form-label" for="id_password2">Новый пароль (ещё раз):</label>
                        <input class="form-control m-1" style="width: 325px" type="password" name="password2" placeholder="Новый пароль (ещё раз)" required="" id="id_password2">
                        <input class="btn btn-outline-primary m-1" type="submit" name="action" value="{% trans 'change password' %}"/>
                    </form>
                {% endif %}
        </div>
    </div>
{% endblock body %}