<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Новый отзыв на Вашу статью!</title>
</head>
<body>
    <h1>Добрый день {{ user }}!</h1>
    <h3>Пользователь оставил новый отзыв на Вашу статью {{ title }}!</h3>
    Текст отзыва: {{ text }}
    <h5>Чтобы разрешить или запретить публикацию отзыва, зайдите на наш сайт
        и на странице Вашего объявления разрешите и запретите отзывы.</h5>
</body>
</html>