{% extends 'main.html' %}
{% block title %}Создание объявления{% endblock title %}
{% block extra_head %}
    {% load static %}
    {% load humanize %}
{% endblock extra_head %}
{% block body %}
<div class="card">
    <div class="card-header">{{ object.title }}</div>
    <div class="card-body">
        {{ object.text|safe }}
    </div>
    <div class="card-footer d-flex flex-row">
        <div class="flex-grow-1">
            Автор: {{ object.author }}<br>
            {{ object.date }}<br>
            {{ object.data|timesince }}
        </div>
        {% if request.user == object.author %}
            <div>
                <a class="btn btn-outline-primary" href="/announce/edit/{{ object.pk }}">Редактировать объявление</a>
            </div>
        {% endif %}
    </div>
</div>
{% if inactive_response %}
    <div class="card my-2">
    <div class="card-header">Отзывы, ожидающие подтверждения</div>
    <div class="card-body">
        {% for comm in inactive_response %}
            <div class="card my-2">
                <div class="card-header">{{ comm.author }}</div>
                <div class="card-body">{{ comm.text }}</div>
                <div class="card-footer d-flex">
                    <div class="flex-grow-1">{{ comm.date }}</div>
                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-outline-success" id="accept_response" value="{{ comm.pk }}">Разрешить</button>
                      <button type="button" class="btn btn-outline-danger" id="remove_response" value="{{ comm.pk }}">Запретить</button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}
<div class="card my-2">
    <div class="card-header">Отзывы</div>
    <div class="card-body">
        <form id="response_form">
            <input name="announce" value="{{ object.pk }}" type="hidden">
            <label class="form-label" for="response_text">Текст</label>
            <textarea class="form-control" name="text" id="response_text" cols="30" rows="5" maxlength="300"></textarea>
            <button class="btn btn-outline-success my-2" type="submit">Отправить отзыв</button>
        </form>
        <div id="responce_succsess" class="p-1 d-none">
            Ваш отзыв успешно отправлен! Как только автор объявления проверит его и утвердит, он будет добавлен на страницу!
        </div>
    </div>
    <div class="card-footer">
        {% if not response %}
            <h3>Комментариев пока нет! Будьте первым!</h3>
        {% else %}
            {% for comm in response %}
            <div class="card my-2">
                <div class="card-header">{{ comm.author }}</div>
                <div class="card-body">{{ comm.text }}</div>
                <div class="card-footer">
                    {{ comm.date }}
                </div>
            </div>
            {%  endfor %}
        {% endif %}
   </div>
</div>
{% endblock body %}
{% block scripts %}
    <script src="{% static 'response.js' %}"></script>
{% endblock scripts %}