    <div class="card flex-nowrap">
      <div class="card-header  text-body-emphasis">Чат</div>
      <div class="card-body p-0">
        <div class="card-text bg-body-tertiary">
          <div id="chatbox" class="d-flex flex-column rounded shadow overflow-y-auto py-2" style="height: 500px">
            <div class="spinner-border m-auto" id="chat_spinner" role="status">
              <span class="visually-hidden">Загрузка...</span>
            </div>
          </div>
          <div>
            <form class="form-control d-flex border-0 bg-body-tertiary" id="new_message">
              <input class="form-control" name="text" id="new_message_text" type="text">
              <button class="btn btn-outline-primary w-40 h-50 mx-1 bg-body" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16">
                  <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"/>
                </svg>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>